* {
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    border: none;
    text-decoration: none;
}

section {
    padding: 2rem 9%;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content {
    text-align: center;
}

.home .content h1 {
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.1);
}

.home .content p {
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}

.home .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.home .controls {
    padding: 1rem;
    border-radius: 5rem;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 10rem;
}

.home .controls .video-btn {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 .5rem;
}

.home .controls .video-btn.blue {
    background: var(--blue);
}

h2 {
    color: black;
}

.history {
    text-align: center;
    padding: 20px;
    background-color: beige;
}

.history img {
    display: block;
    margin: 0 auto;
}

.history .content {
    margin-top: 20px;
}

.history h3 {
    font-size: 1.5em;
}

.history p {
    line-height: 1.5;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.container img {
    max-width: 50%;
    margin-right: 20px;
}

.container .content {
    max-width: 50%;
}

.container .content h3 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container .content h3 i {
    margin-right: 5px;
}

.gallery {
    width: 100%;
    margin: auto;
    background-color: beige;
}

.gallery .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery .box {
    flex: 1 1 100%;
    margin: 1px;
}

.gallery .box img {
    width: 100%;
    height: auto;
}

#map {
    text-align: center;
    margin-top: 50px;
}

#map h5 {
    font-size: 2em;
    margin-bottom: 20px;
}


#darkModeToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

i {
    font-size: 150px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
